name: pick_color
description: A Flutter package which allow you to extract color and hexcode from image with simple touch.
version: 0.0.3
repository: "https://github.com/Oauth-Celestial/image_color_picker"


environment:
  sdk: '>=2.18.6 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  image: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  
